.indexBg{
    background-image: url('/public/bg-index.jpg');
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-5vh;
}

.landingInfo{
    display: block;
    padding-top: 25vh;
}

.landingSubtitle{
    margin-top: 2rem;
}